@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

body{
  background-color: #F3F3F3;
  min-height: 100%;
}

.sidebar.collapsed:hover,
.sidebar {
  width: 18rem;
  overflow-y: auto;
  transition: width .2s, left .2s;
  left: 0;
  z-index: 500;
  transition: background-color 0.5s ease;
}

.sidebar.collapsed {
  left: -18rem;
}

.sidebar-toggle {
  cursor: pointer;
  transition: .2s;
}
.sidebar-menu {
  list-style-type: none;
}
.sidebar-menu-item {
  margin-bottom: .90rem;
}
.sidebar-menu-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: .375rem .75rem;
  border-radius: .375rem;
  font-size: 1.10rem;
  white-space: nowrap;
}
.sidebar-menu-item > a {
  overflow: hidden;
}
.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item.active a {
  background-color: #FCF4B9;
  height: 2.7rem;
  color: #2B2B2B;
  box-shadow: 0 5px #2B2B2B;
}
.sidebar-menu-item-icon {
  margin-right: .625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform .2s;
}
.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-accordion,
.sidebar-menu-item.focused > a .sidebar-menu-item-accordion {
  transform: rotateZ(180deg);
}
.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: .75rem;
  color: var(--bs-gray-600);
  transition: opacity .2s;
  opacity: 1;
  visibility: visible;
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu-item a {
  padding: .375rem 0;
  padding-right: .75rem;
}
.sidebar-dropdown-menu-item.focused > a,
.sidebar-dropdown-menu-item a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}
.sidebar-dropdown-menu {
  padding-left: 2rem;
}
/* end: Sidebar */



/* Start: Sidebar mobile view */
.sidebar2 {
  width: 13rem;
  overflow-y: auto;
  transition: width .2s, left .2s;
  left: 0;
  z-index: 500;
}
.sidebar-menu-item2 {
  margin-bottom: .90rem;
}
.sidebar-menu-item2 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bs-dark);
  padding: .375rem .75rem;
  border-radius: .375rem;
  font-size: 1rem;
  white-space: nowrap;
}
.sidebar-menu-item2 > a {
  overflow: hidden;
}
.sidebar-menu-item2.focused > a,
.sidebar-menu-item2 > a:hover {
  background-color: var(--bs-gray-200);
  transition: background-color 0.5s ease;
}
.sidebar-menu-item2.active a {
  background-color: #FCF4B9;
  height: 2.5rem;
  color: #2B2B2B;
  box-shadow: 0 5px #2B2B2B;
}
.sidebar-menu-item-icon2 {
  margin-right: .625rem;
  font-size: 1rem;
}
.sidebar-menu-item-accordion {
  transition: transform .2s;
}

.sidebar.collapsed:hover .sidebar-menu-divider,
.sidebar-menu-divider {
  font-size: .75rem;
  color: var(--bs-gray-600);
  transition: opacity .2s;
  opacity: 1;
  visibility: visible;
}

.sidebar-dropdown-menu-item2.focused > a,
.sidebar-dropdown-menu-item2 a:hover {
  color: var(--bs-indigo);
  transition: background-color 0.5s ease;
}



/* start: Main */
main {
  min-height: 100vh;
}



/* start: Navbar */
nav {
  display: flex;
  align-items: center;
  border: 2px solid #2B2B2B;
}
.navbar-link {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .30rem;
}
.navbar-link:hover {
  color: grey;
  transition: background-color 0.5s ease;
}
/* end: Navbar */





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* start: Sidebar */
 
  .sidebar.collapsed {
      width: 4.75rem;
      left: 0;
  }
  .sidebar.collapsed .sidebar-logo {
      display: none;
  }
  .sidebar.collapsed:hover .sidebar-logo {
      display: block;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed:hover .sidebar-toggle {
      margin-left: auto;
      margin-right: 0;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-toggle {
      margin: 0 auto;
      transform: rotateZ(180deg);
  }
  .sidebar.collapsed:hover .sidebar-menu-divider {
      font-size: .75rem;
      color: var(--bs-gray-600);
      transition: opacity .2s;
      opacity: 1;
      visibility: visible;
      transition: background-color 0.5s ease;
  }
  .sidebar.collapsed .sidebar-menu-divider {
      opacity: 0;
      visibility: hidden;
  }
  
  /* end: Sidebar */



  /* start: Main */
  main {
      transition: padding-left .2s;
      padding-left: 22rem;
      padding-top: 2rem;
      padding-right: 4rem;
      
  }
  .home-page{
    box-shadow: 0 6px #2B2B2B;
    background-image:linear-gradient(#F8F9FA 75%, #FCF4B9 25%)
  }
  .beeguide-page, .choosehive-page, .terms-page{
    box-shadow: 0 6px #2B2B2B;
  }

  .sidebar.collapsed ~ main {
      padding-left: 4.75rem;
  }

  /* end: Main */
}

  


@media (min-width: 768px) {
  .btn-toggle {
      display: none;
  }
  .offcanvass {
      transform: none !important;
      visibility: visible !important;
  }
}

@media (max-width: 767px) {
  .btn-toggle {
      display: block;
  }
  .offcanvass {
      visibility: hidden;
  }
}



@media (max-width: 767.98px) {
  .home-page {
      min-height: 65vh; 
      padding: 10px;
      margin: 5px; 
  }
  .Beemo-text {
    font-size: 1.2rem !important;
}
  nav{
    padding: 10px;
    margin: 5px; 
  }
  
  .yellow {
      min-height: 7vh;   
      background-color: #FCF4B9;
      overflow-y:auto;
      
  }
  .beeguide-page {
    min-height: 65vh; 
    padding: 10px;
    margin: 5px;  
  }
  .choosehive-page{
    min-height: 65vh; 
    padding: 10px;
    margin: 5px;  
  }

  .hardware, .web-system {
    width: 90%; 
    padding: 15px; 
  }
  .terms-page {
    min-height: 65vh; 
    padding: 10px;
    margin: 5px;  
  }

}


.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


/* Start: Bee Guide */

.hardware, .web-system {
  padding: 20px;
  width: 80%;
  height: 90px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 6px #2B2B2B
}

.beeguide-highlight, .choosehive-highlight, .terms-highlight{
  display: inline;
  background-color: #FCF4B9;
  padding: 0 5px;
  border-radius: 3px; 
}

.hardware h5, .web-system h5{
  padding-top: 3px;
}

.hardware i, .web-system i{
  font-size: 30px;
}
.web-system{
  border: 1.8px solid #2B2B2B;
  width: 100%;
  max-width: 310px;
  background-color: #FCF4B9;
}

.web-system:hover{
  border: 1.8px solid #2B2B2B;
  background-color: #F6D776;
  transition: background-color 0.5s ease;
}

.hardware{
  border: 1.8px solid #2B2B2B;
  width: 100%;
  max-width: 310px;
  background-color: #FCF4B9;
}
.hardware:hover{
  border: 2px solid #2B2B2B;
  background-color: #F6D776;
  transition: background-color 0.5s ease;
}
/* end: Bee Guide */



/* Start: Choose Hive */
.hive-button{
  width: 100%;
  max-width: 500px;
  background-color: #FCF4B9;
}
.hive-button:hover{
  background-color: #F6D776;
  transition: background-color 0.5s ease;
}

.edit-button{
  background-color: #FCF4B9;
  width: 100%;
  max-width: 100px;
}

.edit-button:hover{
  background-color: #F6D776;
  transition: background-color 0.5s ease;
}


/* end: Choose Hive*/

/* Start: Terms and Conditions */


.main-terms {
  transition: .2s;
  padding-left: 13rem;
  padding-top: 2rem;
  padding-right: 13rem; 
}

.logo-terms {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.about-us{
  font-size: 1.1rem;
}
.logo-side{
  padding-left: 2rem;
}
.about-side{
  padding-right: 2rem;
}
.justify-text {
  text-align: justify;
}

.terms-button{
  background-color: #FCF4B9;
  max-width: 100%;
}
.terms-button:hover{
  background-color: #F6D776;
  transition: background-color 0.5s ease;
}

/* End: Terms and Conditions */



/* Start: Terms and Conditions Responsive */
@media (max-width: 768px) {
  .main-terms {
    padding-top: 0%;
    align-items: center;
    padding-left: 0%;
    padding-right: 0%;
  }
  .logo-side {
    padding-left: 0;
  }
  .about-side {
    padding-right: 0;
    
  }
  .about-us {
    font-size: 1rem;
  }
  .scrollable-text {
    font-size: 1rem !important;
}
  
}
.terms-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .centered-image {
      display: flex;
      justify-content: center;
  }
}

@media (max-width: 576px) {
  .nav-terms {
      background-color: transparent !important;
      box-shadow: none !important;
      border: none !important;
  }
  
  

}
/* End: Terms and Conditions Responsive */







